* {
    box-sizing: border-box;

}

div {
    color: white;
}

body {
    background-image: url('images/stormysea.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;

    font-family: sans-serif;
    color:white;
    text-align: center;
}

.logo {
    padding: 20px 20px 10px 20px;
    border-radius: 50px;
}


button {
    background-color: #3e6042;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    opacity: 1;
    transition: 0.3s;
    /* margin-left: 10px; */


}

.inputbox {
    display: block;
    color: white;
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    background-color: #333333;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button:hover{
    opacity: 0.8;
}

.error_messages {
    color: red;
    font-size: 25px;
    text-align: center;
    background-color: #333333;

    margin: 20px 550px 20px 550px;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;

}

.reset_message {
    color: mediumpurple;
    font-size: 15px;
    text-align: center;
    background-color: #333333;
    margin: 1px 450px 20px 450px;
    padding: 1px 20px 1px 20px;
    border-radius: 30px;

    border: 2px solid mediumpurple;
}

#loginBlock {
    background-color: #333333;
    opacity: 0.8;
    margin: 1% 35%;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
}
